html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("/images/bg-desktop.svg");
  background-size: cover;
  min-height: 100vh;
}

.logo {
  margin: 5rem 8rem 5rem 7rem;
}

.text {
  padding-left: 2rem;
  padding-right: 9rem;
}

.title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  margin: 3rem 8rem 1rem 2rem;
}

.paragraph {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-right: 6rem;
}

.btn-1 {
  background-color: white;
  color: hsl(257, 40%, 49%);
  border-radius: 10rem;
  margin-left: 2rem;
  margin-bottom: 12rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  font-size: 1rem;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-1:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
}

.fa-facebook-f {
  color: hsl(0, 0%, 100%);
}

.fa-facebook-f:hover {
  color: hsl(300, 69%, 71%);
}

.fa-twitter {
  color: hsl(0, 0%, 100%);
}

.fa-twitter:hover {
  color: hsl(300, 69%, 71%);
}

.fa-instagram {
  color: hsl(0, 0%, 100%);
}

.fa-instagram:hover {
  color: hsl(300, 69%, 71%);
}

.fa-brands.fa-facebook-f {
  padding: 1rem 1.2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: white;
}

@media (max-width: 55.43rem) {
  body {
    background-image: url(/images/bg-mobile.svg);
  }

  .logo {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .center-text {
    text-align: center;
  }

  .title {
    margin: 2rem 2rem 1rem 2rem;
  }

  .paragraph {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .btn-1 {
    margin-left: 0rem;
    margin-bottom: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
